@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border-radius: 12px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: #fffbf5;
}

a {
  color: inherit;
  text-decoration: none;
}

.carousel .control-dots {
  margin: 0 !important;
}

.carousel.carousel-slider .control-arrow {
  padding: 20px !important;
}
